
:root
{
    --second: 1s;
    --minute: calc((var(--second)) * 60);
    --hour: calc((var(--minute)) * 60);
    --black: black;
    --grey:  grey;
    --shadow:  0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0);
    --blue: blue;
    --yellow: yellow;
    --dark-blue:  rgb(2, 2, 75);
    --setTimeHour: 16;
    --setTimeMinute: 20;
    --timeShiftHour: calc(var(--setTimeHour) * var(--hour));
    --timeShiftMinute: calc(var(--setTimeMinute) * var(--minute));
    
}

html
{
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5) bottom center; 
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


body
{
    margin: 0;
    min-height: 100vh;
    align-items: center;
    font-size: 10px;
}

.Clock
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--grey);
    margin: 250px auto;
    position: relative;
}


.Sec
{
    --width:  5px;
    --height: 140px;
    --color: var(--yellow) !important;
} 

.Min
{
    --width:  10px;
    --height: 90px;
    --color: var(--blue) !important;
}

.Hour
{
    --width: 10px;
    --height: 50px;
    --color: var(--dark-blue);
    /* transform: rotate(90deg); */
} 

.hand {
    position: absolute;
    border-radius: calc(var(--width) / 2);
    top: 50%;
    left: calc(50% - var(--width) / 2);
    width: var(--width);
    height: var(--height);
    background-color: var(--color);
    transform-origin: center 0;
    transform: rotate(90deg);
    transition: all 0.5s;
    /* transition-timing-function: cubic-bezier(0.1, 2.7,0.58, 1); */
}




/* 
.Clock-face
{
    position:relative;
    background: black;
    height: 1%;
    transform: translateY(-3px);
} */

/* .Clock-face */
/* {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap; 
    margin: auto 100px;
    gap: .3rem;
    padding : 2rem;
    min-height: 100vh;
    justify-content: center;
    align-items:center;
    width: 7rem;
    height: 1%;
} */

/* .Hour-hand{
   background: black;
   align-self: center;
   height: .3rem;
   width: 2rem; 

}
.Min-hand
{
    background: black;
    height: .3rem;
    width: 2rem;
} */